# .github/workflows/testing.yml
name: testing

# start the workflow on push/PR to the main branch
on:
  push:
    branches:
    - main
    - master
    - testing
  pull_request:
    branches:
    - main
    - master

# Steps to run a job 
jobs:
  test-code:
    runs-on: ubuntu-latest
    
    # the services for outside systems 
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: mhLiu-Postgre
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.7.10
      - name: Caching
        uses: actions/cache@v3
        with:
          path: $/{/{ env.pythonLocation /}/}
          key: $/{/{ env.pythonLocation /}/}-$/{/{ hashFiles('setup.py') /}/}-$/{/{ hashFiles('requirements.txt') /}/}
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt --no-cache-dir
      - name: Predict using the model
        run: python simple_ml_model/main.py
        env:
          # The hostname used to communicate with the PostgreSQL service container
          POSTGRES_HOST: localhost
          # The default PostgreSQL port
          POSTGRES_PORT: 5432
